.container{
    display: flex;
    width: 631px;
    justify-content: center;    
    align-items: center;
    gap: 40px;
}
.profile-image{
    border: 5px solid #ea9a62;
    border-radius: 50%;
    width: 100%;
    height: 192px;
}
.text-container{
    width: 372px;
    height: 156px;
    flex-shrink: 0;
}
.title{
    width: 372px;
    height: 69px;
    font-size: var(--lg);
    color: var(--white);
}
.short-description{
    color: var(--gray);
    width: 372px;
    height: 33px;
    margin-bottom: 10px;
    font-size: var(--md);
}
.icons-container{
    display: inline-flex;
    width: 222px;
    height: 36px;
    align-items: flex-start;
    gap: 26px;
}
.icons-container img{
    width: 36px;
    height: 36px;
    cursor: pointer;
}