.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 757px;
    height: 856px;
}
.container figure{
    position: relative;
    width: 362px;
    height: 226px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.container figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.container figure .cap{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ea9a62;
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.container figure:hover > .cap{
    opacity: 0.7;
    visibility: visible;
}
.container figure:hover > .cap h3{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: var(--md);
    color: var(--white);
    transition: all 500ms ease-out;

}
.container figure .cap p{
    font-size: var(--sm);
}
.container figure .cap > .link-icon{
    width: 42px;
    height: 38px;
    background-color: var(--white);
    border-radius: 40%;
    margin-top: 5px;
}