body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Espacio 1 */
.espacio {
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
}

.espacio1 {
    display: flex;
}

.imagen-redonda {
    border-radius: 50%;
    overflow: hidden;
    width: 50%;
}

.texto-lateral {
    width: 50%;
}

/* Espacio 2 */
.espacio2 {
    display: flex;
    justify-content: space-between;
}

.recuadro {
    flex: 1;
    margin: 10px;
    padding: 20px;
    border: 1px solid #00f;
}

/* Espacio 3 */
.espacio3 {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.boton-descarga {
    padding: 10px;
    background-color: #0f0;
}

/* Espacio 4 */
.espacio4 {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.recuadro-con-texto {
    flex: 1;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border: 1px solid #f00;
}

/* Espacio 5 */
.espacio5 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px;
}

.fila-imagenes {
    display: flex;
    justify-content: space-around;
}

/* Agrega estilos adicionales según sea necesario */
@media (max-width:720px){
    .icons-container{
        grid-template-columns: repeat(1, 1fr);
        margin:50px 10px 50px 10px;
    }
}
